.flavor{
  position: absolute;
  padding: 12px;
  font-weight: 500;
  font-size: 16px;
  font-family: 'Arimo';
  border-radius: 12px;
  cursor: pointer;
}
.leftTop{
  top: 0;
  left: 0;
}
.leftBottom{
  bottom:0;
  left:0;
}
.rightTop{
  top:0;
  right:0;
}
.rightBottom{
  bottom:0;
  right:0;
}
