.navlink{
  font-family: "Arimo", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  color: black;
  text-decoration: none;
  padding: 12px;
  display: flex;
  align-items: center;
}
